In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from scipy.stats import norm

In [3]:
# Charger le fichier texte dans un DataFrame pandas
df = pd.read_csv(r'C:\Users\theom\Desktop\INFRATAL\MonteCarlo TAL\Database\USDSGDSPOT_2023-04-20.txt', delimiter='\t')
df2 = pd.read_csv(r'C:\Users\theom\Desktop\INFRATAL\MonteCarlo TAL\Database\USDCNYSPOT_2023-04-20.txt', delimiter='\t')
df3 = pd.read_csv(r'C:\Users\theom\Desktop\INFRATAL\MonteCarlo TAL\Database\USDEURSPOT_2023-04-20.txt', delimiter='\t')
df4 = pd.read_csv(r'C:\Users\theom\Desktop\INFRATAL\MonteCarlo TAL\Database\USDGBPSPOT_2023-04-20.txt', delimiter='\t')
df5 = pd.read_csv(r'C:\Users\theom\Desktop\INFRATAL\MonteCarlo TAL\Database\USDCHFSPOT_2023-04-20.txt', delimiter='\t')
df6 = pd.read_csv(r'C:\Users\theom\Desktop\INFRATAL\MonteCarlo TAL\Database\USDJPYSPOT_2023-04-20.txt', delimiter='\t')
df7 = pd.read_csv(r'C:\Users\theom\Desktop\INFRATAL\MonteCarlo TAL\Database\GOLD_2023-04-20.txt', delimiter='\t')

In [4]:
df.columns = ['date','ouv','haut','bas','USDSGD','vol','devise','Unnamed: 7']
df2.columns = ['date','ouv','haut','bas','USDCNY','vol','devise','Unnamed: 7']
df3.columns = ['date','ouv','haut','bas','USDEUR','vol','devise','Unnamed: 7']
df4.columns = ['date','ouv','haut','bas','USDGBP','vol','devise','Unnamed: 7']
df5.columns = ['date','ouv','haut','bas','USDCHF','vol','devise','Unnamed: 7']
df6.columns = ['date','ouv','haut','bas','USDJPY','vol','devise','Unnamed: 7']  
df7.columns = ['date','ouv','haut','bas','USDGOLD','vol','devise','Unnamed: 7']

In [5]:
df = pd.merge(df, df2, on='date')
df = pd.merge(df, df3, on='date')
df = pd.merge(df, df4, on='date')
df = pd.merge(df, df5, on='date')
df = pd.merge(df, df6, on='date')
df = pd.merge(df, df7, on='date')

C:\Users\theom\AppData\Local\Temp\ipykernel_39596\2878520878.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'devise_x', 'ouv_x', 'vol_x', 'bas_x', 'Unnamed: 7_x', 'haut_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = pd.merge(df, df4, on='date')
C:\Users\theom\AppData\Local\Temp\ipykernel_39596\2878520878.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'devise_x', 'ouv_x', 'vol_x', 'bas_x', 'Unnamed: 7_x', 'haut_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = pd.merge(df, df6, on='date')

In [6]:
cols_to_keep = [col for col in df.columns if col.startswith('USD')]

# Supprimer toutes les colonnes qui ne sont pas dans la liste de sélection

In [7]:
cols_to_keep.append('date')
cols_to_keep.insert(0, cols_to_keep.pop(cols_to_keep.index('date')))

In [8]:
df = df[cols_to_keep]

In [9]:
df

,date,USDSGD,USDCNY,USDEUR,USDGBP,USDCHF,USDJPY,USDGOLD
0,22/04/2013 00:00,1.240,6.183,0.766,0.654,0.934,99.355,1421.30
1,23/04/2013 00:00,1.241,6.179,0.769,0.656,0.945,99.395,1413.40
2,24/04/2013 00:00,1.243,6.179,0.768,0.655,0.947,99.485,1421.10
3,25/04/2013 00:00,1.239,6.171,0.769,0.648,0.945,99.305,1458.30
4,26/04/2013 00:00,1.235,6.165,0.767,0.647,0.942,98.055,1453.00
...,...,...,...,...,...,...,...,...
2527,13/04/2023 00:00,1.322,6.869,0.905,0.798,0.890,132.574,2040.63
2528,14/04/2023 00:00,1.330,6.872,0.901,0.805,0.893,133.825,2004.18
2529,17/04/2023 00:00,1.334,6.880,0.915,0.808,0.899,134.452,1995.50
2530,18/04/2023 00:00,1.333,6.876,0.912,0.805,0.896,134.080,2004.92
2531,19/04/2023 00:00,1.335,6.886,0.913,0.804,0.898,134.621,1994.44

In [10]:
df.to_csv('df_currency_10y.csv', index=False)

In [183]:
df2 = pd.read_csv("historical_data.csv",parse_dates=True,index_col=0)

In [184]:
df1 = pd.read_csv('GOLD_2023-04-11.csv')

In [186]:
df2 = df2[350:]
df1 = df1.iloc[::-1]

In [185]:
# Convert the date column of the first dataframe to datetime
df1['date'] = pd.to_datetime(df1['date'], format='%d/%m/%Y %H:%M', errors='coerce',utc=True)

# Localize the datetime objects in the first dataframe to UTC timezone
df1['date'] = df1['date'].dt.tz_convert('UTC')

# Convert the index of the second dataframe to datetime (if the index is the date column)
df2.index = pd.to_datetime(df2.index, errors='coerce', utc=True)

# Reset the index of the second dataframe to turn it into a column
df2.reset_index(inplace=True)

# Rename the date column of the second dataframe to match the first dataframe
df2.rename(columns={'index': 'date'}, inplace=True)

# Ensure that the date column in the second dataframe is of type datetime64[ns, UTC]
df2['date'] = df2['date'].astype('datetime64[ns, UTC]')

In [155]:
merged_df = df1.merge(df2, on='date')

In [156]:
df = merged_df[['date', 'clot','USDCHFclose','USDEURclose','USDGBPclose','USDJPYclose','USDCNYclose','USDCHFclose','USDGDclose']]

In [187]:
# Assuming df1 and df2 are your original DataFrames with a 'date' column
df1 = df1.set_index('date')
df2 = df2.set_index('date')

# Convert the index to datetime if necessary
df1.index = pd.to_datetime(df1.index)
df2.index = pd.to_datetime(df2.index)

# Resample both DataFrames to a daily frequency
df1_resampled = df1.resample('D').asfreq()
df2_resampled = df2.resample('D').asfreq()

# Merge the resampled DataFrames
merged_df = df1_resampled.merge(df2_resampled, left_index=True, right_index=True, how='outer')

In [188]:
merged_df.to_csv('merged_df_2.csv')

In [146]:
df.columns = ['date', 'USDAUX','USDCHF','USDEUR','USDGBP','USDJPY','USDCNY','USDCHF','USDSGD']

In [96]:
df.to_csv('clean_data.csv', index=False)